body {background-color: #ff4040; text-align: justify;font-size: 18px;;}
h1 { text-align: center;background-color:#ff6b6b ;color: #c124ff; }
h3 {text-align: justify;color: #fffb00;;}
b{color: rgb(166, 255, 0);font-size: 18px;}
i {color: rgb(0, 255, 115);font-size: 18px;}
header, footer{background-color: #f87000; color: #4dff00; text-align: center;font-size 
main {background-color: #8ddefc;}